{% extends 'main/base.html' %}

{% load static %}

{% block title %}
О нас
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/contacts.css' %}">

<link rel="stylesheet" type="text/css"
	  href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<section class="slider">
		<div class="container-fluid">
			<div class="one-part">
                <h2 class="h2">О свадебном магазине NICOLE</h2>
                <p class="mainText">
                    Свадебный магазин Николь распахнул свои двери в 2012 году.
                    За это время более 10 000 невест встретились со своим платьем мечты. <br>
                    Мы не стоим на месте и каждый год становимся лучше для Вас.
                    Только лучшие коллекции и самые талантливые дизайнеры представлены в нашем салоне. <br>
                    У нас в наличии более 2000 моделей различных стилей и силуэтов,
                    в ценовой категории от 1 000 до 6 000 рублей. <br>
                    Для Вас оборудовано 7 просторных, комфортабельных примерочных с прекрасным освещением.
                    Все свадебные платья вывешены в торговом зале, чтобы Вы могли рассмотреть любую модель. <br></p>
                <p class="photo"><img src="{% static 'img/about-us.png' %}" alt="Photo" class="photoAbout"></p>
                <p class="mainText2">
                    <br>
                    Профессиональные стилисты выслушают все Ваши пожелания и подберут платье, которое идеально подойдет именно Вам.
                    Помимо платья, для завершения образа, мы обязательно посоветуем все необходимые аксессуары. Фата,
                    свадебная обувь, серьги и диадемы, подвязки, будуарные платья - абсолютно все, что требуется невесте на торжество.
                    <br>
                    А мастера нашего профессионального ателье сделают любые доработки необходимые для вашего платья,
                    чтобы оно сидело идеально, а так же выполнят все ваши пожелания по изменениям, которые Вы захотите внести в наряд.
                    <br>
                    Для того чтобы выбор платья прошел не спеша, и Вы не ждали пока освободятся примерочные,
                    рекомендуем записаться на примерку заранее. <br>
                    Ждем Вас в нашем салоне!
                </p>
            </div>
		</div>
	</section>
{% endblock %}



