<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>

	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'img/manifest.json' %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" type="text/css" >
	<link rel="stylesheet" type="text/css"
	  href="{% static 'css/forAllCategories.css' %}">


	{% block link %}
	{% endblock %}

</head>

<body>
	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-7">м. Академия Наук, Минск, Якуба Коласа, 28</div>
				<div class="col-2 head-align">
					<img src="{% static 'img/whatsapp.png' %}" alt="Photo" class="contactIcon">
					<a href="https://www.whatsapp.com/" target="_blank" class="mess">
					WhatsApp</a>
				</div>
				<div class="col-1 head-align">
					<img src="{% static 'img/viber.png' %}" alt="Photo" class="contactIcon">
					<a href="https://www.viber.com/ru/" target="s_blank" class="mess" style="">
				     Viber</a>
				</div >
				<div class="col-2"><p class="phone">+375(17)123-45-67</p></div>
			</div>
		</div>
	</header>


	<!--Регистрация-->
	<section class="container-fluid" style="padding-right: 25px">
		<div style="display: flex; justify-content: flex-end; margin-top: 15px">
						{% if user.is_authenticated %}
                        <span>{{ user.username }}</span>
                        <a href="{% url 'account_logout' %}"
                           style="color: #000000; font-weight: 400; text-transform: uppercase; text-decoration: none; font-size: 14px; margin-left: 10px; margin-top: 2px">
                            Выход
                        </a>
                    {% else %}
                        <a href="{% url 'account_login' %}"
                           style="color: #000000; font-weight: 400; text-transform: uppercase; text-decoration: none; font-size: 14px;">
                            Вход
                        </a>
                         <a href="{% url 'account_signup' %}"
                           style="color: #000000; font-weight: 400; text-transform: uppercase; text-decoration: none; font-size: 14px; margin-left: 10px">
                            Регистрация
                        </a>
                    {% endif %}
					</div>
	</section>


	<!--КАТЕГОРИИ ТОВАРОВ-->
	<section class="products">
		<div class="container">
			<a href="/" class="h1"><h1>NICOLE</h1></a>
			<div class="row2">
				<div class="product">
						<a href="/product/" class="productName">СВАДЕБНЫЕ ПЛАТЬЯ</a>
						<a href="/product/sale_2/" class="productName sale">SALE</a>
						<a href="/product/even_3/" class="productName">ВЕЧЕРНИЕ ПЛАТЬЯ</a>
						<a href="/product/shoes_4/" class="productName">ОБУВЬ</a>
						<a href="/product/veil_5/" class="productName">ФАТА</a>
						<a href="/product/access_6/" class="productName">АКСЕССУАРЫ</a>
						<a href="/contacts" class="productName">КОНТАКТЫ</a>
				</div>
				<div class="productIcon">
					<div class="bag">
						<a href="https://n527869.yclients.com/"><img src="{% static 'img/photo222.png' %}" alt="Photo" class="icon2"></a>
					</div>
				</div>
			</div>
		</div>
	</section>

	{% block content %}{% endblock %}

	<!--ФУТЕР-->
	<footer class="footer">
		<div class="container-fluid">
			<h2 class="footerName">NICOLE</h2>
			<div class="footerLeftPart">
				<div class="footerUl">
					<div class="ul1">
						<div class="footerList"><a href="/product/" class="footerText">СВАДЕБНЫЕ ПЛАТЬЯ</a></div>
						<div class="footerList"><a href="/product/even_3/" class="footerText">ВЕЧЕРНИЕ ПЛАТЬЯ</a></div>
						<div class="footerList"><a href="/product/shoes_4/" class="footerText">СВАДЕБНАЯ ОБУВЬ</a></div>
						<div class="footerList"><a href="/product/veil_5/" class="footerText">СВАДЕБНАЯ ФАТА</a></div>
						<div class="footerList"><a href="/product/access_6/" class="footerText">АКСЕССУАРЫ</a></div>
						<div class="footerList"><a href="/product/sale_2/" class="footerText">SALE</a></div>
					</div>
					<div class="ul2">
						<div class="footerList"><a href="/contacts" class="footerText">КОНТАКТЫ</a></div>
						<div class="footerList"><a href="https://weddingblog.ru/" class="footerText">БЛОГ</a></div>
						<div class="footerList"><a href="/about" class="footerText">О САЛОНЕ</a></div>
						<div class="footerList"><a href="/refund" class="footerText">УСЛОВИЯ ВОЗВРАТА</a></div>
						<div class="footerList"><a href="/delivery" class="footerText">ДОСТАВКА И ОПЛАТА</a></div>
						<div class="footerList"><a href="/create" class="footerText">ОСТАВИТЬ ОТЗЫВ</a></div>
					</div>
					<hr width="1" size="210" color="#282828" class="line2">
					<div class="ul3">
						<div class="fot">
							<img src="{% static 'img/maps.png' %}" alt="Photo" class="footerPhoto">
							<p>Минск Якуба Коласа, 28 <br>
							Часы работы ПН-ВС 11.00 - 21.00</p>
						</div>
						<div class="fot">
							<img src="{% static 'img/call.png' %}" alt="Photo" class="footerPhoto">
							<p class="footerPhone">+375(17)123-45-67</p>
						</div>
						<div class="fot">
							<img src="{% static 'img/metro.png' %}" alt="Photo" class="footerPhoto">
							<p>Академия наук</p>
						</div>
					</div>
					<div >
						<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad78a01131d5dcbbe034e7468503af0a2172e75589f8312a7b9f3fbd2fa948373&amp;width=420&amp;height=210&amp;lang=ru_RU&amp;scroll=true"></script>
					</div>
				</div>
			</div>
		</div>
	</footer>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>


