{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Добавить отзыв
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/contacts.css' %}">
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/delivery.css' %}">
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/create.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-review">Добавьте свой отзыв о нашем салоне</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.task }}<br>
            {{ form.price }}<br>
            <button type="submin" class="btn btn-light my-btn">Добавить отзыв</button>
        </form>
</div>

{% endblock %}
