{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Доставка и оплата
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/contacts.css' %}">
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/delivery.css' %}">
{% endblock %}

{% block content %}
<section class="slider">
		<div class="container-fluid">
			<div class="one-part">
                <h2 class="h2">ДОСТАВКА И ОПЛАТА</h2>
                <p class="mainText">
					<br>
					Мы заботимся о наших клиентах и понимаем, что подготовка к торжеству отнимает много времени и сил.
					Поэтому Вы можете воспользоваться услугой доставки свадебного платья.
					<br><br><br>
					<span class="span">
						СПОСОБЫ ДОСТАВКИ:
					</span>
					<br>
					<br>
					Самовывоз бесплатно из салона по адресу Минск, Якуба Коласа, 28 <br><br>
					Доставка курьером по Минску: 35 рублей. <br><br>
					Доставка курьером по Минской области: 50 руб плюс 5 руб за 1 км от МКАД <br><br>
					При покупке дистанционным способом, доставка по Беларуси бесплатная, при сумме заказа от 1 000 руб.
					<br><br>
					Доставка осуществляется транспортной компанией. <br><br>
					В случае суммы заказа ниже 1 000 руб, стоимость расчитывается индивидуально, в зависимости от региона доставки и веса груза.
					<br><br><br>
					<span class="span">
						СПОСОБЫ ОПЛАТЫ:
					</span>
					<br>
					<br>
					Оплата производится наличными или банковской картой. Курьерская доставка оплачивается только наличными.
                </p>
            </div>
		</div>
	</section>
{% endblock %}
