{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Вечерние платья
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/forAllCategories.css' %}">
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/sale.css' %}">
{% endblock %}

{% block content %}
	 <!--КАРТОЧКИ-->
	<section class="top15">
		<div class="container">
			<h2>ВЕЧЕРНИЕ ПЛАТЬЯ</h2>
			<hr width="100%" color="#dbbeb6"  size="3" align="center">

			<!--1-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/v1.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Длинное вечернее платье<br>из шифона</p></a>
				        <p class="article">Арт. VR 2366</p>
				        <p class="price">875 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v7.jpeg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Вечернее платье в пол<br>бордового цвета</p></a>
				        <p class="article">Арт. М 21-07</p>
				        <p class="price">1 150 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v5.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Шелковое вечернее платье<br> с открытой спиной</p></a>
				        <p class="article">Арт. U 2212</p>
				        <p class="price">1 190 р.</p>
				  	</div>
				</div>
			</div>

		    <!--2-->
		    <div class="firstLine">
				<div class="dressCard">
			  		<img src="{% static 'img/v24.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Черное шелковое платье <br>со шлейфом</p></a>
				        <p class="article">Арт. YR 206</p>
				        <p class="price">930 р.</p>
				    </div>
		        </div>

				<div class="dressCard">
				  	<img src="{% static 'img/v2.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Красное вечернее платье<br> с рукавами</p></a>
				        <p class="article">Арт. NR 2707</p>
				        <p class="price">950 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v25.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Бежевое атласное платье<br>на бретелях</p></a>
				        <p class="article">Арт. ЕR 2201</p>
				        <p class="price">1 170 р.</p>
				  	</div>
				</div>
			</div>

			 <!--3-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/v26.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Кремовое платье<br>с жемчужинами</p></a>
				        <p class="article">Арт. BCL 010</p>
				        <p class="price">1 290 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v3.jpg' %}" alt="Photo" class="topPhoto type2">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Черное обтягивающее платье<br>с открытой спиной</p></a>
				        <p class="article">Арт. SM-101</p>
				        <p class="price">670 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v27.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Блестящее платье<br>с разрезом</p></a>
				        <p class="article">Арт. BCL 212</p>
				        <p class="price">1 170 р.</p>
				  	</div>
				</div>
			</div>

			<!--4-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/v28.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Красный комбинезон<br>со шлейфом</p></a>
				        <p class="article">Арт. BCL 22</p>
				        <p class="price">899 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v12.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Длинное платье <br>с разрезом на ноге</p></a>
				        <p class="article">Арт. US 2500</p>
				        <p class="price">1 090 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v29.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Атласное платье с карманами<br>длины миди</p></a>
				        <p class="article">Арт. BL 991</p>
				        <p class="price">1 730 р.</p>
				  	</div>
				</div>
			</div>

			<!--5-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/v13.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Короткое платье<br>со шлейфом</p></a>
				        <p class="article">Арт. NGR 8103</p>
				        <p class="price">790 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v11.jpeg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Выпускное атласное<br>платье в пол</p></a>
				        <p class="article">Арт. NR 2192</p>
				        <p class="price">970 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v8.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Изумрудное алтасное вечернее<br> платье миди</p></a>
				        <p class="article">Арт. NR 9249</p>
				        <p class="price">1 190 р.</p>
				  	</div>
				</div>
			</div>

			 <!--6-->
			<div class="firstLine">
				<div class="dressCard">
			  		<img src="{% static 'img/v18.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Платье винного цвета<br>из фатина</p></a>
				        <p class="article">Арт. НR 2910</p>
				        <p class="price">1 050 р.</p>
				    </div>
		        </div>

				<div class="dressCard">
				  	<img src="{% static 'img/v22.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Блестящее золотое платье<br>в пол</p></a>
				        <p class="article">Арт. NR 107</p>
				        <p class="price">1 250 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v16.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Синее вечернее <br>платье миди</p></a>
				        <p class="article">Арт. UR 601</p>
				        <p class="price">1 000 р.</p>
				  	</div>
				</div>
			</div>

		    <!--7-->
			<div class="firstLine">

				<div class="dressCard">
					<img src="{% static 'img/v30.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Темно-синее вечеренее платье<br>на одно плечо</p></a>
				        <p class="article">Арт. М 21-07</p>
				        <p class="price">1 090 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v15.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Бордовое платье<br>на выпускной</p></a>
				        <p class="article">Арт. NR 7210</p>
				        <p class="price">775 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v21.jpeg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Шелковое платье <br>на тонких бретелях</p></a>
				        <p class="article">Арт. NR 912</p>
				        <p class="price">900 р.</p>
				  	</div>
				</div>
			</div>

			 <!--8-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/v31.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Длинное вечернее платье<br> с фатиновой юбкой</p></a>
				        <p class="article">Арт. BCL 10</p>
				        <p class="price">790 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v19.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Платье миди<br>многослойное</p></a>
				        <p class="article">Арт. BCL 219</p>
				        <p class="price">640 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/v20.jpg' %}" alt="Photo" class="topPhoto type2">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Атласное платье<br>на выпускной</p></a>
				        <p class="article">Арт. SM-80</p>
				        <p class="price">990 р.</p>
				  	</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}



