{% extends 'main/base.html' %}

{% load static %}

{% block title %}
SALE
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/sale.css' %}">
{% endblock %}

{% block content %}
 <!--КАРТОЧКИ-->
	<section class="top15">
		<div class="container">
			<h2 class="redColor">SALE</h2>
			<hr width="100%" color="#dbbeb6"  size="3" align="center">

			<!--1-->
			<div class="firstLine">

				<div class="dressCard">
					<img src="{% static 'img/s3.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье декорированное<br>цветочным кружевом</p></a>
				        <p class="article">Арт. SCL 212</p>
				        <div class="salePrice">
					        <p class="priceOld">3 990 р.</p>
					        <p class="price salePriceNew">3 190 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s1.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье в горошек<br>с оборками по корсету</p></a>
				        <p class="article">Арт. SCL ML-S 19</p>
				        <div class="salePrice">
					        <p class="priceOld">3 290 р.</p>
					        <p class="price salePriceNew">2 090 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s2.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье русалка<br>с открытым верхом</p></a>
				        <p class="article">Арт. UM-L 001</p>
				        <div class="salePrice">
					        <p class="priceOld">3 690 р.</p>
					        <p class="price salePriceNew">2 500 р.</p>
				        </div>
				  	</div>
				</div>
			</div>

		    <!--2-->
		    <div class="firstLine">

				<div class="dressCard">
					<img src="{% static 'img/s7.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Белое свадебное платье <br>с крыльями их фатина</p></a>
				        <p class="article">Арт. SCL 282</p>
				        <div class="salePrice">
					        <p class="priceOld">3 070 р.</p>
					        <p class="price salePriceNew">2 470 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s5.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье русалка<br>с открытой спиной и шлейфом</p></a>
				        <p class="article">Арт. SML 001</p>
				        <div class="salePrice">
					        <p class="priceOld">3 890 р.</p>
					        <p class="price salePriceNew">3 090 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s6.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье<br>в мелкий горошек</p></a>
				        <p class="article">Арт. SYL 4L0</p>
				        <div class="salePrice">
					        <p class="priceOld">3 090 р.</p>
					        <p class="price salePriceNew">2 000 р.</p>
				        </div>
				  	</div>
				</div>
			</div>

			 <!--3-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/s10.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Закрытое свадебное платье<br>расшитое кружевом</p></a>
				        <p class="article">Арт. SCL 816</p>
				        <div class="salePrice">
					        <p class="priceOld">4 190 р.</p>
					        <p class="price salePriceNew">3 790 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s4.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье<br>DIVINO ROSE OTILIA</p></a>
				        <p class="article">Арт. SCL 002</p>
				        <div class="salePrice">
					        <p class="priceOld">3 570 р.</p>
					        <p class="price salePriceNew">2 990 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s13.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Серебрянное вадебное платье<br>с пышными рукавами</p></a>
				        <p class="article">Арт. SCL 2002</p>
				        <div class="salePrice">
					        <p class="priceOld">2 890 р.</p>
					        <p class="price salePriceNew">2 100 р.</p>
				        </div>
				  	</div>
				</div>
			</div>

			<!--4-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/s11.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Атлпсное свадебное платье<br>со шлейфом</p></a>
				        <p class="article">Арт. SUL 910</p>
				        <div class="salePrice">
					        <p class="priceOld">4 290 р.</p>
					        <p class="price salePriceNew">2 999 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s9.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Прямое свадебное платье<br>расшитое кружевом</p></a>
				        <p class="article">Арт. SCL 200</p>
				        <div class="salePrice">
					        <p class="priceOld">3 490 р.</p>
					        <p class="price salePriceNew">2 890 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s12.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье с карманами<br>и открытыми плечами</p></a>
				        <p class="article">Арт. SCL 235</p>
				        <div class="salePrice">
					        <p class="priceOld">3 290 р.</p>
					        <p class="price salePriceNew">2 090 р.</p>
				        </div>
				  	</div>
				</div>
				</div>
		</div>
	</section>
{% endblock %}

