{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Свадебная обувь
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/forAllCategories.css' %}">
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/sale.css' %}">
{% endblock %}

{% block content %}
    <!--КАРТОЧКИ-->
	<section class="top15">
		<div class="container">
			<h2>ОБУВЬ</h2>
			<hr width="100%" color="#dbbeb6"  size="3" align="center">

			<!--1-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/sh001.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебные замшевые туфли<br>на каблуке</p></a>
				        <p class="article">Арт. SH 001</p>
				        <p class="price">285 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/sh2.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Прозрачные ботильоны<br>с пайетками</p></a>
				        <p class="article">Арт. SH 002</p>
				        <p class="price">370 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/sh01.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебные туфли<br>с ремешком вокруг щиколотки</p></a>
				        <p class="article">Арт. SH 003</p>
				        <p class="price">350 р.</p>
				  	</div>
				</div>
			</div>

		    <!--2-->
		    <div class="firstLine">

				<div class="dressCard">
					<img src="{% static 'img/sh1.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебные ботильоны<br>на каблуке</p></a>
				        <p class="article">Арт. SH 004</p>
				        <p class="price">375 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/sh08.jpg' %}" alt="Photo" class="topPhoto type2">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебнве туфли<br>на устойчивом каблуке</p></a>
				        <p class="article">Арт. SH 008</p>
				        <p class="price">270 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/sh6.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Ботильоны с открытым носом<br>на шнуровке</p></a>
				        <p class="article">Арт. SH 006</p>
				        <p class="price">410 р.</p>
				  	</div>
				</div>
			</div>

			 <!--3-->
			<div class="firstLine">

				<div class="dressCard">
				  	<img src="{% static 'img/sh7.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебные белые<br>ботильоны</p></a>
				        <p class="article">Арт. SH 007</p>
				        <p class="price">380 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
			  		<img src="{% static 'img/sh4.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Босоножки<br>с кисточками</p></a>
				        <p class="article">Арт. SH 005</p>
				        <p class="price">250 р.</p>
				    </div>
		        </div>

				<div class="dressCard">
				  	<img src="{% static 'img/sh5.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Блестящие сапожки<br>для невесты</p></a>
				        <p class="article">Арт. SH 009</p>
				        <p class="price">410 р.</p>
				  	</div>
				</div>
			</div>

			<!--4-->
			<div class="firstLine">

				<div class="dressCard">
					<img src="{% static 'img/sh16.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Серебрянные свадебные<br>туфли лодочки</p></a>
				        <p class="article">Арт. SH 014</p>
				        <p class="price">310 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/sh14.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Золотые свадебные туфли<br>с бантом</p></a>
				        <p class="article">Арт. SH 015</p>
				        <p class="price">300 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/sh15.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Серебристые свадебные<br>балетки</p></a>
				        <p class="article">Арт. SH 016</p>
				        <p class="price">290 р.</p>
				  	</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
