{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Свадебные платья
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/forAllCategories.css' %}">
<link rel="stylesheet" type="text/css"
	  href="{% static 'css/sale.css' %}">
{% endblock %}

{% block content %}

    <!--КАРТОЧКИ-->
	<section class="top15">
		<div class="container">
			<h2>СВАДЕБНЫЕ ПЛАТЬЯ</h2>
			<hr width="100%" color="#dbbeb6"  size="3" align="center">

			<!--1-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/dress2.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Пышное атласное свадебное платье<br>с вырезом в форме сердца</p></a>
				        <p class="article">Арт. NR 2210</p>
				        <p class="price">4 875 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress4.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Белое свадебное платье<br> со съемным кейпом</p></a>
				        <p class="article">Арт. NR 2212</p>
				        <p class="price">4 100 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/p6.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Сверкающее свадебное <br>платье рыбка</p></a>
				        <p class="article">Арт. М 2021-07</p>
				        <p class="price">5 350 р.</p>
				  	</div>
				</div>
			</div>

		    <!--2-->
		    <div class="firstLine">
				<div class="dressCard">
			  		<img src="{% static 'img/dress1.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Облегающее свадебноe платье <br>с рукавами</p></a>
				        <p class="article">Арт. NR 21010</p>
				        <p class="price">3 750 р.</p>
				    </div>
		        </div>

				<div class="dressCard">
				  	<img src="{% static 'img/dress3.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Блестящее свадебное платье<br> с пышными рукавами</p></a>
				        <p class="article">Арт. NR 2207</p>
				        <p class="price">4 650 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress5.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Эффектное свадебное платье<br>с объемными рукавами</p></a>
				        <p class="article">Арт. NR 2201</p>
				        <p class="price">5 900 р.</p>
				  	</div>
				</div>
			</div>

			 <!--3-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/p7.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Кружевное свадебное платье<br> с закрытым верхом</p></a>
				        <p class="article">Арт. BCL 210</p>
				        <p class="price">3 990 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s1.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье в горошек<br>с оборками по корсету</p></a>
				        <p class="article">Арт. SCL ML-S 19</p>
				        <div class="salePrice">
					        <p class="priceOld">3 290 р.</p>
					        <p class="price salePriceNew">2 090 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress6.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Стильное свадебное платье<br>на одно плечо</p></a>
				        <p class="article">Арт. BCL 212</p>
				        <p class="price">3 290 р.</p>
				  	</div>
				</div>
			</div>

			<!--4-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/p9.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье <br>золотого цвета</p></a>
				        <p class="article">Арт. BCL 213</p>
				        <p class="price">4 800 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/p10.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье русалка <br>со съемным шлейфом</p></a>
				        <p class="article">Арт. NR 2100</p>
				        <p class="price">4 990 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress7.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Блестящее свадебное платье<br> на бретельках</p></a>
				        <p class="article">Арт. BCL 211</p>
				        <p class="price">3 730 р.</p>
				  	</div>
				</div>
			</div>

			<!--5-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/p12.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Пышное свадебное платье<br>с квадратным вырезом</p></a>
				        <p class="article">Арт. NGR 9103</p>
				        <p class="price">3 990 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/p14.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Блестящее бежевое<br>свадебное платье</p></a>
				        <p class="article">Арт. NR 21012</p>
				        <p class="price">5 670 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/p13.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Закрытое вадебное платье<br>с объемными рукавами</p></a>
				        <p class="article">Арт. NGR 9449</p>
				        <p class="price">4 190 р.</p>
				  	</div>
				</div>
			</div>

			 <!--6-->
			<div class="firstLine">
				<div class="dressCard">
			  		<img src="{% static 'img/p1.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Атласное платье на <br> бретельках с кейпом</p></a>
				        <p class="article">Арт. NR 21010</p>
				        <p class="price">5 750 р.</p>
				    </div>
		        </div>

				<div class="dressCard">
					<img src="{% static 'img/s5.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье русалка<br>с открытой спиной и шлейфом</p></a>
				        <p class="article">Арт. SML 001</p>
				        <div class="salePrice">
					        <p class="priceOld">3 890 р.</p>
					        <p class="price salePriceNew">3 090 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/p3.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Платье с рукавами <br> расшитыми жемчугом</p></a>
				        <p class="article">Арт. NR 2201</p>
				        <p class="price">6 000 р.</p>
				  	</div>
				</div>
			</div>

		    <!--7-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/p4.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье<br> со съемным болеро</p></a>
				        <p class="article">Арт. NR 2210</p>
				        <p class="price">4 875 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s9.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Прямое свадебное платье<br>расшитое кружевом</p></a>
				        <p class="article">Арт. SCL 200</p>
				        <div class="salePrice">
					        <p class="priceOld">3 490 р.</p>
					        <p class="price salePriceNew">2 890 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress18.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Закрытое кружевное<br>свадебное платье</p></a>
				        <p class="article">Арт. М 2021-07</p>
				        <p class="price">5 350 р.</p>
				  	</div>
				</div>
			</div>

			 <!--8-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/dress17.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Атласное свадебное платье<br> с квадратным вырезом</p></a>
				        <p class="article">Арт. BCL 210</p>
				        <p class="price">3 790 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress15.jpg' %}" alt="Photo" class="topPhoto type2">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Закрытое блестящее<br>свадебное платье </p></a>
				        <p class="article">Арт. SM-10</p>
				        <p class="price">3 270 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress14.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Необычное свадебное<br>платье бюстье</p></a>
				        <p class="article">Арт. BCL 212</p>
				        <p class="price">4 100 р.</p>
				  	</div>
				</div>
			</div>

			<!--9-->
			<div class="firstLine">

				<div class="dressCard">
					<img src="{% static 'img/s13.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Серебрянное свадебное платье<br>с пышными рукавами</p></a>
				        <p class="article">Арт. SCL 2002</p>
				        <div class="salePrice">
					        <p class="priceOld">2 890 р.</p>
					        <p class="price salePriceNew">2 100 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress13.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Струящееся свадебное платье<br>с корсетом расшитым кристаллами</p></a>
				        <p class="article">Арт. BCL 212</p>
				        <p class="price">5 800 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress12.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Легкое свадебное платье<br>с крылышками на плечах</p></a>
				        <p class="article">Арт. BCL 211</p>
				        <p class="price">3 730 р.</p>
				  	</div>
				</div>
			</div>

			<!--10-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/dress11.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье из шифона<br>с драпировкой</p></a>
				        <p class="article">Арт. NGR 9103</p>
				        <p class="price">3 190 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress9.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Сверкающее вадебное платье<br>с объемными рукавами</p></a>
				        <p class="article">Арт. NGR 9449</p>
				        <p class="price">3 990 р.</p>
				  	</div>
				</div>


				<div class="dressCard">
					<img src="{% static 'img/s10.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Закрытое свадебное платье<br>расшитое кружевом</p></a>
				        <p class="article">Арт. SCL 816</p>
				        <div class="salePrice">
					        <p class="priceOld">4 190 р.</p>
					        <p class="price salePriceNew">3 790 р.</p>
				        </div>
				  	</div>
				</div>
			</div>

			<!--11-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/dress19.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Атласное свадебное платье<br>с открытой спиной</p></a>
				        <p class="article">Арт. NGR 9103</p>
				        <p class="price">3 190 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress20.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Легкое свадебное платье <br>с блестящим фатином</p></a>
				        <p class="article">Арт. NR 21012</p>
				        <p class="price">2 970 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/p15.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Декольтированное свадебное<br>платье трансформер</p></a>
				        <p class="article">Арт. NR 2200</p>
				        <p class="price">5 190 р.</p>
				    </div>
				</div>
			</div>

			<!--12-->
			<div class="firstLine">

				<div class="dressCard">
					<img src="{% static 'img/s7.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Белое свадебное платье <br>с крыльями из фатина</p></a>
				        <p class="article">Арт. SCL 282</p>
				        <div class="salePrice">
					        <p class="priceOld">3 070 р.</p>
					        <p class="price salePriceNew">2 470 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/p8.jpg' %}" alt="Photo" class="topPhoto type2">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Прямое свадебное платье <br>со сборкой на бедре</p></a>
				        <p class="article">Арт. SM-10</p>
				        <p class="price">3 270 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s6.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье<br>в мелкий горошек</p></a>
				        <p class="article">Арт. SYL 4L0</p>
				        <div class="salePrice">
					        <p class="priceOld">3 090 р.</p>
					        <p class="price salePriceNew">2 000 р.</p>
				        </div>
				  	</div>
				</div>
			</div>

			<!--13-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/s3.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье декорированное<br>цветочным кружевом</p></a>
				        <p class="article">Арт. SCL 212</p>
				        <div class="salePrice">
					        <p class="priceOld">3 990 р.</p>
					        <p class="price salePriceNew">3 190 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
				  	<img src="{% static 'img/p2.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Белое свадебное платье<br> с пышным рукавом</p></a>
				        <p class="article">Арт. NR 2207</p>
				        <p class="price">4 650 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s2.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье русалка<br>с открытым верхом</p></a>
				        <p class="article">Арт. UM-L 001</p>
				        <div class="salePrice">
					        <p class="priceOld">3 690 р.</p>
					        <p class="price salePriceNew">2 500 р.</p>
				        </div>
				  	</div>
				</div>
			</div>

			<!--14-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/dress8.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Сверкающее свадебное платье <br>с открытым верхом</p></a>
				        <p class="article">Арт. NR 21012</p>
				        <p class="price">3 670 р.</p>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s4.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье<br>DIVINO ROSE OTILIA</p></a>
				        <p class="article">Арт. SCL 002</p>
				        <div class="salePrice">
					        <p class="priceOld">3 570 р.</p>
					        <p class="price salePriceNew">2 990 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/dress10.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Воздушное свадебное платье <br>с объемными рукавами</p></a>
				        <p class="article">Арт. NR 2100</p>
				        <p class="price">4 790 р.</p>
				  	</div>
				</div>
			</div>


			<!--15-->
			<div class="firstLine">
				<div class="dressCard">
					<img src="{% static 'img/s11.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Атласное свадебное платье<br>со шлейфом</p></a>
				        <p class="article">Арт. SUL 910</p>
				        <div class="salePrice">
					        <p class="priceOld">4 290 р.</p>
					        <p class="price salePriceNew">2 999 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/s12.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Свадебное платье с карманами<br>и открытыми плечами</p></a>
				        <p class="article">Арт. SCL 235</p>
				        <div class="salePrice">
					        <p class="priceOld">3 290 р.</p>
					        <p class="price salePriceNew">2 090 р.</p>
				        </div>
				  	</div>
				</div>

				<div class="dressCard">
					<img src="{% static 'img/p5.jpg' %}" alt="Photo" class="topPhoto">
				  	<div class="topText">
				  		<a href="/katalog/svadebnyye-platya/atlasnoe-plate-ne-bretelkakh-s-keypom/" class="nameOfDress"><p>Закрытое атласное свадебное платье А-силуэта</p></a>
				        <p class="article">Арт. NR 2212</p>
				        <p class="price">4 000 р.</p>
				  	</div>
				</div>

			</div>
		</div>
	</section>

{% endblock %}

