{% extends 'main/base.html' %}

{% load static %}

{% block title %}
Свадебные платья
{% endblock %}

{% block link %}
{% endblock %}


{% block content %}
<!--КАРТОЧКИ-->

		<div class="container">

			<br>
			<h2>СВАДЕБНЫЕ ПЛАТЬЯ</h2>
			<hr width="100%" color="#dbbeb6"  size="3" align="center">

			<form action="" method="get" style="display: flex; justify-content: space-between; height: 33px">
				{{ form.as_p }}<br>
				<input class="btnMove" type="submit" value="Поиск" style="width: 100px;margin-left: 15px; border: 1px; margin-left: 393px; border-radius: 30%; font-size:15px; height: 32px">
			</form>

			<div class="typeFilter1" style="margin-top: 15px">
				<a href="{% url 'type_filter1' pk=1 %}"><button style="background: #dbbeb6; border-radius: 30%; border: 1px solid #d0b5ae; margin-right: 5px">Пышные</button></a>
				<a href="{% url 'type_filter1' pk=2 %}"><button style="background: #dbbeb6; border-radius: 30%; border: 1px solid #d0b5ae; margin-right: 5px">Русалка и рыбка</button></a>
				<a href="{% url 'type_filter1' pk=3 %}"><button style="background: #dbbeb6; border-radius: 30%; border: 1px solid #d0b5ae; margin-right: 5px">Прямые</button></a>
				<a href="{% url 'type_filter1' pk=4 %}"><button style="background: #dbbeb6; border-radius: 30%; border: 1px solid #d0b5ae; margin-right: 5px">Короткие</button></a>
			</div>

			<div class="row">
			{% for el in wedding %}
				{% if forloop.counter0|divisibleby:3 %}
				 </div>
				 <div class="row">
				{% endif %}
					 <div class="dressCard" style="width:  32.4%; margin-top: 0px">
						<img src="{{ el.image1.url }}" alt="Photo" class="topPhoto">
						<div class="topText">
							<a href="{% url 'wedding' el.id %}" class="nameOfDress"><p>{{ el.name }}</p></a>
							<p class="article">Арт. {{ el.article }}</p>
							<p class="price">{{ el.price }} p.</p>
						</div>
					</div>
			{% endfor %}
			</div>
		</div>
{% endblock %}



